node_modules/
src/generated/
*.env*
prisma/dev.db
prisma/migrations/
prisma/migrations
migrations
migrate.lock
dev.db
.env
.env.development
.env.production
schema.graphql
yarn.lock
test.json
.vercel
files/
sendgrid.env
